<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Might Buy for Business</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
      <![endif]-->
      <%= stylesheet_link_tag "reset" %>
      <%= stylesheet_link_tag "style" %>
 	  	<%= javascript_include_tag "application" -%>
      <%= yield(:head) %>
      <%= csrf_meta_tag %>


    </head>
    <body>
      <div id="page" class="centered">
        <div id="header">
          <a href="<%=root_path%>">
            <div id="header_left">
            </div>
          </a>
          <%-if current_user.nil? %>
          <div id="header_right">
            <a href="#business" <span class="login"></span></a>
          </div>
          <%-end%>
          <div class="clear"></div>
        </div>
        <div class="home_content">
          <div class="home_title"></div>  
          <div class="home_left"></div> 
          <div class="home_middle"></div> 
          <div class="home_right"></div>  
        </div>
        <div class="container">

          <div class="container_top"></div>
          <div class="content">
            <%= render "layouts/application/flash_messages" %>
            <div class="clear"></div>

            <%= yield %>

          </div>
        </div>
        <div id="footer">
          <div class="footer_menu">
            <a href="">terms of use </a>
            <a href="">privacy policy </a>
            <a href="">contact </a>
          </div>
          <div class="footer_logo"></div>
        </div>
      </div>
    </body>
    </html>

